.newItemBackground {
    position: relative;
    background-image: url('https://images.pexels.com/photos/2733918/pexels-photo-2733918.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;  
}  
.newItemBackground::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-color: rgb(0,0,0,0.5);
}
  